html, body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main, .leaflet-container {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#app {
	width: 100%;
	height: 100%;
}

.webcam {
	padding: 5px;
	background-color: blue;
	color: white;
	font-weight: bold;
	width: 100%;
}

/**** Button ****/

.leaflet-popup-content button {
	background-color: transparent;
	color: #000;
	text-transform: none;
	padding: 0;
	box-shadow: none;
	border: none;
	cursor: pointer;
}

/**** Modal ****/

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	padding: 50px;
	z-index: 10000;
}

#modal {
	background-color: #fff;
	border-radius: 5px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}

#header {
	z-index: 10000;
}

.mdl-spinner {
	z-index: 10100;
}

.webcams-navigation {
	flex-grow: 1;
}
.webcams-layout .webcams-navigation .mdl-navigation__link {
	display: flex !important;
	flex-direction: row;
	align-items: center;
	color: rgba(255, 255, 255, 0.56);
	font-weight: 500;
}
.webcams-layout .webcams-navigation .mdl-navigation__link:hover {
	background-color: #00BCD4;
	color: #37474F;
}
.webcams-navigation .mdl-navigation__link .material-icons {
	font-size: 24px;
	color: rgba(255, 255, 255, 0.56);
	margin-right: 32px;
}

.webcams-content {
	max-width: 1080px;
}

#locate-me {
	margin-right: 15px;
}

.mdl-layout__header-row {
	padding: 0 40px;
}
