html, body {
	height: 100%;
	margin: 0;
}

@keyframes moveHeaderDown {
	from {top:-56px;}
	to {top:0px;}
}

@keyframes moveHeaderUp {
	from {top:0px;}
	to {top:-56px;}
}

@keyframes movePullButtonDown {
	from {top:-10px;}
	to {top:46px;}
}

@keyframes movePullButtonUp {
	from {top:46px;}
	to {top:-10px;}
}

@keyframes switchArrowUp {
	from {content: "\FFEC";}
	to {content: "\FFEA";}
}

@keyframes switchArrowDown {
	from {content: "\FFEA";}
	to {content: "\FFEC";}
}

header {
	background-color: #00796B;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 10000;
	top:-56px;
}

.openHeader {
	animation-name: moveHeaderDown;
	animation-duration: 1s;
	top: 0px;
}

.closeHeader {
	animation-name: moveHeaderUp;
	animation-duration: 1s;
	top: -56px;
}

#pullContainer {
	width: 100%;
	background-color: red;
	text-align: center;
	position: fixed;
	z-index: 1000;
	height: 0px;
}

#pull {
	background-color: #00796B;
	border-radius: 5px;
	color: #fff;
	padding: 0px 15px;
	top: -10px;
	position: relative;
	cursor: pointer;
}

#pull:before {
	content: "\FFEC";
}

.movePullDown {
	animation: movePullButtonDown 1s;
	top: 46px !important;
}

.movePullDown:before {
	animation: switchArrowUp 3s;
	content: "\FFEA" !important;

}

.movePullUp {
	animation: movePullButtonUp 1s;
	top: -10px !important;
}

.movePullUp:before {
	animation: switchArrowDown 3s;
	content: "\FFEC" !important;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main, .leaflet-container {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

#app, #mapid {
	width: 100%;
	height: 100%;
}

.webcam {
	padding: 5px;
	background-color: blue;
	color: white;
	font-weight: bold;
	width: 100%;
}

/**** Modal ****/

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	padding: 50px;
	z-index: 10000;
}

#modal {
	background-color: #fff;
	border-radius: 5px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
}

/**** Buttons ****/

button {
	padding: 0 16px;
	font-size: 14px;
	background-color: #80CBC4;
	color: #fff;
	border: none;
	cursor: pointer;
	letter-spacing: 0.5;
	border-radius: 2px;
	height: 36px;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.leaflet-popup-content button {
	background-color: transparent;
	color: #000;
	text-transform: none;
	padding: 0;
	box-shadow: none;
}
